---
import { getLargestImage, getMediaUrl } from "../lib/imageUrl";

const { post } = Astro.props;

const { title, slug, publishedDate } = post;
const imageUrl = getMediaUrl(getLargestImage(post).url);
const postUrl = `/blog/${slug}`;
---

<a
    href={postUrl}
    class="block
        hover:opacity-90
        transition
        rounded-lg
        shadow-md
        bg-inverse"
>
    {
        // If the post has an image, show it
    }
    {
        imageUrl && (
            <div class="aspect-square overflow-hidden  rounded-t-lg">
                <img
                    src={imageUrl}
                    alt={title}
                    class="w-full h-full object-cover"
                    loading="lazy"
                />
            </div>
        )
    }
    <div class="p-4">
        <h3 class="text-xl font-semibold leading-tight">
            {title}
        </h3>
        <p class="text-sm mt-1">
            {
                new Date(publishedDate).toLocaleDateString(undefined, {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>
    </div>
</a>
