---
import { getLargestImage, getMediaUrl } from "../lib/imageUrl";

const { post } = Astro.props;

const { title, slug, publishedDate, seo } = post;
const excerpt = seo?.excerpt;
const largestImage = getLargestImage(post);
const imageUrl = largestImage ? getMediaUrl(largestImage.url) : null;
const postUrl = `/blog/${slug}`;
---

<a
    href={postUrl}
    class="block
        hover:opacity-90
        transition
        rounded-lg
        shadow-md
        bg-inverse"
>
    {
        imageUrl && (
            <div class="aspect-square overflow-hidden  rounded-t-lg">
                <img
                    src={imageUrl}
                    alt={title}
                    class="w-full h-full object-cover"
                    loading="lazy"
                />
            </div>
        )
    }
    <div class="p-4">
        <h3 class="text-xl font-semibold leading-tight">
            {title}
        </h3>
        {excerpt && (
            <p class="text-sm mt-2 line-clamp-2">
                {excerpt}
            </p>
        )}
        <p class="text-sm mt-2 opacity-70">
            {
                new Date(publishedDate).toLocaleDateString(undefined, {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                })
            }
        </p>
    </div>
</a>
