---
import Layout from "../layouts/Layout.astro";

import { fetchPosts } from "../lib/api";
import { getMediaUrl } from "../lib/imageUrl";

const posts = await fetchPosts();
---

<Layout>
	<section>
		<h1>Placeholder Title</h1>
		<div>
			{
				posts.map((post) => {
					const { title, slug, coverImage, publishedAt } = post;
					const imageUrl = getMediaUrl(coverImage?.formats?.small.?url);
					const postUrl = `/blog/${slug}`;

					return (
						<a href={postUrl}>
							{imageUrl && <img src={imageUrl} alt={title} />}
							<div>
								<h2>{title}</h2>
								<p>{new Date(publishedAt).toLocaleString()}</p>
							</div>
						</a>
					);
				})
			}
		</div>
	</section>
</Layout>
