---
import Layout from "../layouts/Layout.astro";

// Fetch all posts from Strapi

import { fetchPosts } from "../lib/api";
const posts = await fetchPosts();
---

<Layout>
	<section>
		<h1>Blog</h1>
		<div>
			{
				posts.map((post) => {
					const { title, slug, coverImage, publishedAt } = post;
					const imageUrl = coverImage?.formats?.large.url;
					const postUrl = `/blog/${slug}`;

					return (
						<a href={postUrl}>
							{imageUrl && <img src={imageUrl} alt={title} />}
							<div class="p-4">
								<h2>{title}</h2>
								<p>
									{new Date(publishedAt).toLocaleDateString()}
								</p>
							</div>
						</a>
					);
				})
			}
		</div>
	</section>
</Layout>
