---
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";
import Prose from "../../components/Prose.astro";
import { fetchPostBySlug } from "../../lib/api";
import { getMediaUrl, getLargestImage } from "../../lib/imageUrl";
import StravaEmbed from "../../components/StravaEmbed.astro";

const { slug } = Astro.params;

// extract query params
const previewMode = Astro.url.searchParams.get('status') == "draft";
const post = await fetchPostBySlug(slug!, previewMode)
const htmlContent = await marked(post.content);
const image = getLargestImage(post);
const imageUrl = getMediaUrl(image?.url);
---

<Layout pageTitle={post.title}>
    <article
        class="max-w-3xl mx-auto px-4 py-10 prose-lg"
    >
        {
            imageUrl && (
                <div class="aspect-square overflow-hidden mb-8">
                    <img
                        src={imageUrl}
                        alt={post.title}
                        class="w-full h-full object-cover"
                    />
                </div>
            )
        }

        <h1 class="text-4xl font-bold mb-4">{post.title}</h1>
        <h2 class="text-2xl font-bold mb-3">
            Written by {post.createdBy?.firstname}
            {post.createdBy?.lastname} on {
                new Date(post.publishedDate).toLocaleDateString()
            }
        </h2>

        <Prose set:html={htmlContent} />

        {
            post.stravaActivityId && (
                <div class="mt-10">
                    <StravaEmbed activityId={post.stravaActivityId} />
                </div>
            )
        }
    </article>
</Layout>
