---
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";
import { fetchPostBySlug } from "../../lib/api";
import { getMediaUrl } from "../../lib/imageUrl";
import StravaEmbed from "../../components/StravaEmbed.astro";

const { slug } = Astro.params;
const post = await fetchPostBySlug(slug);
const htmlContent = await marked(post.content);
const imageUrl = getMediaUrl(post?.coverImage?.formats?.small?.url);
---

<Layout>
    {imageUrl && <img src={imageUrl} alt={post.title}
    />}
    <h1>{post.title}</h1>
    <div set:html={htmlContent} />
    {post.stravaActivityId && <StravaEmbed activityId={post.stravaActivityId} />}
</Layout>
